@model List<ProjectTest1.ViewModels.OrderViewModel>
@using ProjectTest1.Enums
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Mã đơn</th>
            <th>Khách hàng</th>
            <th>Ngày tạo</th>
            <th>Trạng thái</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.OrderId</td>
                <td>@order.userName</td>
            <td>@order.CreatedAt?.ToString("dd/MM/yyyy")</td>
                <td>
                    <form asp-action="UpdateStatus" method="post">
                        <input type="hidden" name="orderId" value="@order.OrderId" />
                        <select name="status" class="form-select form-select-sm" onchange="order.changeStatus(@order.OrderId, this.value)" @(order.Status == StatusOrderEnum.Delivered ? "disabled" : "")>
                            @foreach (StatusOrderEnum s in Enum.GetValues(typeof(StatusOrderEnum)))
                            {
                                if (order.Status == s)
                                {
                                    <option value="@( (int)s )" selected="selected">@s</option>
                                }
                                else
                                {
                                    <option value=@( (int)s )>@s</option>
                                }
                            }

                    </select>
                    </form>
                </td>
                <td>
                    <a onclick="order.detail(@order.OrderId)" class="btn btn-info btn-sm">Chi tiết</a>
                    <a asp-action="Edit" asp-route-id="@order.OrderId" class="btn btn-warning btn-sm">Sửa</a>
                    <a onclick="order.remove(@order.OrderId) " class="btn btn-danger btn-sm">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="d-flex justify-content-between align-items-center mt-3">
    <div>
        Tổng số bản ghi: <strong>@ViewBag.Total</strong>
    </div>
    <div id="pagination" data-total-pages="@ViewBag.totalPage">
        <ul id="paging-ul" class="pagination pagination-sm"></ul>
    </div>

</div>
@* @section Scripts {
    <script src="~/js/Order.js"></script>
} *@
